.cards-ctn {
  background-color: #e8e8e8;
  margin: 10px;
  border-radius: 15px;
}

.word-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.edit-btn,
.delete-btn {
  border: 0;
  background: 0;
  cursor: pointer;
}

.edit-btn {
  color: #0066cc;
}

.question-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.answer-input {
  border: #78a816;
  border-radius: 10px;
  text-align: center;
  height: 40px;
}

.delete-edit {
  display: flex;
  width: fit-content;
}
