.footer-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bdbdbd;
  color: #ffffff;
  padding: 1rem;
}

.footer-ctn {
  display: flex;
  justify-content: space-between;
}
