.toggle-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.toggle-btn-active {
  background-color: #5db075;
  color: #ffffff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.toggle-btn-inactive {
  background-color: #e8e8e8;
  color: #bdbdbd;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.create-card-form {
  text-align: center;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 80%;
  height: 200px;
  margin: 0 auto; /* Center horizontally with auto margins */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}
