.cards-ctn {
  background-color: #e8e8e8;
  margin: 20px auto;
  border-radius: 15px;
  width: 80%;
}

.word-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.edit-btn,
.delete-btn {
  border: 0;
  background: 0;
  box-shadow: 0;
  cursor: pointer;
}

.answer-btn {
  margin-top: 10px;
  background-color: #5db075;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  margin-top: 5px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.edit-btn {
  color: #0066cc;
}

.question-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.answer-input {
  border: #78a816;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  margin-bottom: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.delete-edit {
  display: flex;
  width: fit-content;
}
